html,body{
    width:100%;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
.el-row {
    margin-bottom: 20px;
    /*margin: 20px 0;*/
}
/*查询条件区域的按钮区*/
.condition-btn-region{
    text-align: right;
}
/*用于框出一组区域*/
.region-blk{
    border: 1px solid #eaeefb;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
}
/*用于产生一个分割线*/
div.line{
    height: 1px;
    border: solid 1px #e0e6ed;
    background-color: #e0e6ed;
    margin: 20px 0 30px 0;
}
div.sm-line{
    height: 1px;
    background-color: #e0e6ed;
    margin: 10px 0 20px 0;
}
#root{
    min-width: 1280px;
}
#content-wrapper{
    margin-left: 20px;

    padding: 10px;
}